/* =Meta Box (for Edit Page/Post screen)
----------------------------------------------- */

/* General */
#tb_sidebars.postbox .inside {
	margin: 0;
	padding: 0;
}
#tb_sidebars.postbox #sidebar_blvd {
	background: #f9f9f9;
	min-height: 450px;
}
#tb_sidebars.postbox #optionsframework .metabox-holder {
	max-width: inherit;
	padding: 0;
}
#tb_sidebars.postbox .postbox {
	border: none;-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: 0 0 0 #000;
	-webkit-box-shadow: 0 0 0 #000;
	box-shadow: 0 0 0 #000;
}
#tb_sidebars.postbox h3 {
	cursor: inherit;
}
#tb_sidebars.postbox #optionsframework {
	background: #f9f9f9;
}
#tb_sidebars.postbox .warning {
	background: #FFFFE0;
	border: 1px solid #E6DB55;
	margin: 10px;
}
#tb_sidebars.postbox #tb-alert {
	top: 40px;
}
#tb_sidebars.postbox #optionsframework {
	max-width: inherit;
}

/* Loader */
#tb_sidebars.postbox .tb-loader {
	background: #ffffff url(../images/loader_48.gif) no-repeat;
	background-size: 20px 20px;
	display:none;
	position: absolute;
	width: 20px;
	height: 20px;
	visibility: visible;
	z-index: 4;
}
#tb_sidebars.postbox #metabox-builder .tb-loader {
	background-size: 16px 16px;
	-moz-border-radius: 99px;
	-webkit-border-radius: 99px;
	border-radius: 99px;
	position: static;
	width: 16px;
	height: 16px;
}

/* Tabs */
#tb_sidebars.postbox .meta-box-nav {
	background: #ffffff;
	border-bottom: 1px solid #dfdfdf;
	padding: 8px;
	position: relative;
}
#tb_sidebars.postbox .meta-box-nav .ajax-overlay {
	z-index: 3;
}
#tb_sidebars.postbox .meta-box-nav .icon-holder {
	float: left;
	margin: 5px 8px 0 0;
	position: relative;
	width: 20px;
	height: 20px;
}
#tb_sidebars.postbox .meta-box-nav .icon-holder #icon-themes {
	background-position: -9px -4px;
	background-size: 441px 28px;
	position: absolute;
	margin: 0;
	width: 20px;
	height: 20px;
	z-index: 1;
}
#tb_sidebars.postbox .meta-box-nav .select-layout {
	float: left;
	position: relative;
}
#tb_sidebars.postbox .meta-box-nav .tb-fancy-select {
	background-position: 0 -2px;
	float: left;
	margin: 0;
}
#tb_sidebars.postbox .meta-box-nav .tb-fancy-select select {
	height: 28px;
	min-width: 220px;
}
#tb_sidebars.postbox .meta-box-nav .tb-fancy-select .trigger {
	background-position: 0 -2px;
	height: 28px;
}
#tb_sidebars.postbox .meta-box-nav .tb-fancy-select .textbox {
	line-height: 28px;
}
#tb_sidebars.postbox .meta-box-nav .select-layout span.note {
	float: left;
	line-height: 28px;
	margin: 1px 0 0 0;
	padding: 0;
}
#tb_sidebars.postbox .meta-box-nav ul {
	margin: 0;
	padding: 0;
	position: absolute;
	right: 5px;
	bottom: -1px;
}
#tb_sidebars.postbox .meta-box-nav li {
	float: left;
	margin: 0 5px 0 0;
	padding: 0;
}
#tb_sidebars.postbox .meta-box-nav li a {
	border: 1px solid #dddddd;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #999999;
	display: block;
	font-weight: bold;
	line-height: 100%;
	padding: 8px 12px;
	text-decoration: none;
}
#tb_sidebars.postbox .meta-box-nav li a.nav-tab-active {
	background-color: #f9f9f9;
	border-color: #dfdfdf;
	border-bottom-color: #f9f9f9;
	color: #333333;
}

/* Override */
#tb_sidebars.postbox .group .section:last-of-type {
	border-bottom: none;
}
#tb_sidebars.postbox .ajax-overlay-sidebars-switch {
	background: #f9f9f9;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 4;
} 
#tb_sidebars.postbox #override_sidebars {
	position: relative;
}
#tb_sidebars.postbox .section-info {
	border-bottom: 1px solid #dfdfdf;
	padding: 15px;
}

/* Add Sidebar */
#tb_sidebars.postbox #add_sidebar .section {
	overflow: hidden;
}
#tb_sidebars.postbox .add-sidebar-note {
	color: #999999;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-size: 13px;
	font-style: italic;
	padding: 7px 20px;
}
#tb_sidebars.postbox .add-sidebar-items input {
	float: left;
	margin-right: 4px;
} 
#tb_sidebars.postbox .add-sidebar-items .button {
	float: left;
	margin: 1px;
}
#tb_sidebars.postbox .add-sidebar-items .explain {
	float: left;
	margin: 4px 0 0 10px;
	max-width: inherit;
	padding: 0;
}